In [1]:
print('spoorthi')

spoorthi

In [2]:
name = input("enter the name")
print("your name:",name)

enter the name spoorthi

your name: spoorthi

In [3]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
print("first number:",num1)
print("second number:",num2)

Enter the first number: 3
Enter the second number: 6

first number: 3
second number: 6

In [4]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
sum = num1+num2
print("sum of 2 numbers:",sum)

Enter the first number: 14
Enter the second number: 9

sum of 2 numbers: 23

In [5]:
a = input("enter first name")
b = input("enter second name")
c=a+b
print("your full name:",c)

enter first name Spoorthi
enter second name Thommandru

your full name: SpoorthiThommandru

In [6]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num1=num1+num2
num2=num1-num2
num1=num1-num2
print("num1:",num1)
print("num2:",num2)

Enter the first number: 10
Enter the second number: 20

num1: 20
num2: 10

In [7]:
a=10
b=20
temp=a
a=b
b=temp
print("after swaping:",a)
print("after swaping:",b)

after swaping: 20
after swaping: 10

In [8]:
a=10
b=1.4
c=True
print("Integer is:",a)
print("float is:",b)
print("boolean is:",c)

Integer is: 10
float is: 1.4
boolean is: True

In [16]:
a=(1,2,3,4)
b=[10,10,20,30,40]
c={10,20,30,40}
dict={"one":1,"two":2}
print( "tuple is:",a)
print("list is:",b)
print( "set is:",c)
print( "dictinary is:",dict)

tuple is: (1, 2, 3, 4)
list is: [10, 10, 20, 30, 40]
set is: {40, 10, 20, 30}
dictinary is: {'one': 1, 'two': 2}

In [11]:
a=int(input("enter a number:"))
square=a**2
print("square of the number is:",square)

enter a number: 5

square of the number is: 25

In [12]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the third number:"))
sum=num1+num2+num3
avg=sum/3
print("average:",avg)

Enter the first number: 2
Enter the second number: 3
Enter the third number: 4

average: 3.0

In [14]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
c=num1*num2
print(c)

Enter the first number: 2
Enter the second number: 10

20

In [24]:
#convert minutes into seconds
mins=int(input("Enter the minutes:"))
b=60
c=mins*b
print(c)

Enter the minutes: 20

1200

In [17]:
#multip[lication of 2 float numbers
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
c=num1*num2
print(c)

Enter the first number: 2.5
Enter the second number: 2.5

6.25

In [18]:
#largest of 3 numbers without if else
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the third number:"))
print(max(num1,num2,num3))

Enter the first number: 14
Enter the second number: 9
Enter the third number: 11

14

In [20]:
#sum of n natural numbers
num=int(input("Enter the first  n number:"))
sum=num*(num+1)//2
print("sum of n natural numbers:",sum)

Enter the first  n number: 100

sum of n natural numbers: 5050

In [26]:
#sum of n odd numbers
num=int(input("Enter the first  n  odd number:"))
sum=num**2
print("sum of n odd numbers:",sum)

Enter the first  n  odd number: 50

sum of n odd numbers: 2500

In [27]:
#sum of first n even numbers
num=int(input("Enter the first  n  even number:"))
sum=num*(num+1)
print("sum of n even numbers:",sum)

Enter the first  n  even number: 50

sum of n even numbers: 2550

In [30]:
#applying for loan required document are aadhar,PAN,civil score more than 700 

name = str(input("enter your name:"))
print("the documents required are PAN card,Aadhar card and Civil score more than 700")
a=str(input("do you have Aadhar card(yes,no:"))
b=str(input("do you have PAN card(yes,no:"))
c=int(input("enter your civil score:"))
if(a,b=="yes" and c>700):
    print("eligible")
else:
    print("not eligible")

enter your name: spoo

the documents required are PAN card,Aadhar card and Civil score more than 700

do you have Aadhar card(yes,no: yes
do you have PAN card(yes,no: yes
enter your civil score: 765

eligible

In [31]:
#Airthmetic operators
a= 10
b=20
print("additions of two numbers:",a+b)
print("subtraction of two numbers:",a-b)
print("multipliction:",a*b)
print("division:",a/b)

additions of two numbers: 30
subtraction of two numbers: -10
multipliction: 200
division: 0.5

In [32]:
#check wheather the number is positive,negative or zero
num1=int(input("Enter the first number:"))
if(num1>0):
    print("positive")
if(num1<0):
    print("negative")
if(num1==0):
    print("zero")

Enter the first number: -1

negative

In [33]:
#find even or odd number
num=int(input("Enter the number:"))
if(num%2==0):
    print("even number")
else:
    print("odd number")

Enter the number: 3

odd number

In [34]:
#check if the number is divisible by 5 and 11
num=int(input("Enter the number:"))
if(num%5==0 and num%11==0):
    print("THE NUMBER is divisible by 5 and 11")
else:
    print("THE NUMBER is  not divisible by 5 and 11")

Enter the number: 55

THE NUMBER is divisible by 5 and 11

In [37]:
#checking the age group
age= int(input("enter the age:"))
if(age<=12):
    print("kid")
elif(age<=19):
    print("teenager")
else:
    print("adult")

enter the age: 18

teenager

In [50]:
#grade of the student
marks = int(input("enter the marks:"))
if(marks>=90 and marks<=100):
    print("A Grade")
elif(marks>=70 and marks<=89):
    print("B grade")
elif(marks>=50 and marks<=69):
    print("C grade")
elif(marks>=40 and marks<=49):
    print("D grade")
elif(marks>=0 and marks<40):
    print("FAIL")
else:
    print("error")

enter the marks: 88

B grade

In [52]:
#day in week
day_no=int(input("enter a number:"))
if(day_no==1):
    print("sunday")
elif(day_no==2):
    print("monday")
elif(day_no==3):
    print("Tuesday")
elif(day_no==4):
    print("wednesday")
elif(day_no==5):
    print("Thursday")
elif(day_no==6):
    print("Friday")
elif(day_no==7):
    print("saturday")
else:
    print("error")

enter a number: 4

wednesday

In [54]:
#check username and password
username=int(input("enter the username:"))
password=int(input("enter the password:"))
if(username==1234 and password==1234):
    print("login successfull")
else:
    print("failed")

enter the username: 1411
enter the password: 1234

failed